title{
	font-size: 2.5em;
	}
body{
	font-family: "Papyrus";
	color:#660033;
	background-color: green;
       	}



h1 {
	font-size: 1.5em;
	text-align:center;
     	}

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
        }

td {
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#B6CD9F; 
    	}

th {
	text-align:center;
	color:#ffffff;
	background-color:#B6CD9F;
   	}
